.index {
    font-family: monospace;
}

h1.index {
    background-color: lightblue;
    text-align: center;
    color: brown;
}

div.index {
    font-weight: bold;
}

h1 {
    color: red;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
}

h3 {
    font-weight: bolder;
    background-color: blue;
}

li {
    background-color: azure;
}
